In [1]:
%pip install eurostat

Collecting eurostat
  Downloading eurostat-1.1.1-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (from eurostat) (2.2.3)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.12/site-packages (from eurostat) (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->eurostat) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->eurostat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->eurostat) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->eurostat) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests->eurostat) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests->eurostat) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests->eurostat) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests->eurostat) (2025.1.31)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->eurostat) (1.17.0)
Downloading eurostat-1.1.1-py3-none-any.whl (16 kB)
Installing collected packages: eurostat
Successfully installed eurostat-1.1.1

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import eurostat

In [3]:
data=eurostat.get_data_df('avia_par_fi')

In [4]:
data

,freq,unit,tra_meas,airp_pr\TIME_PERIOD,1997,1997-Q1,1997-Q2,1997-Q3,1997-Q4,1998,...,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2024-Q1,2024-Q2,2024-Q3,2024-Q4
0,A,FLIGHT,CAF_PAS,FI_EFHK_AE_OMDB,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,FLIGHT,CAF_PAS,FI_EFHK_AT_LOWW,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A,FLIGHT,CAF_PAS,FI_EFHK_BE_EBBR,2.0,NaN,NaN,NaN,NaN,2437.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A,FLIGHT,CAF_PAS,FI_EFHK_CH_LSGG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A,FLIGHT,CAF_PAS,FI_EFHK_CH_LSZH,6.0,NaN,NaN,NaN,NaN,1947.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7249,Q,SEAT,ST_PAS_DEP,FI_EFVA_FI_EFKK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7250,Q,SEAT,ST_PAS_DEP,FI_EFVA_FI_EFTU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7251,Q,SEAT,ST_PAS_DEP,FI_EFVA_LV_EVRA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7252,Q,SEAT,ST_PAS_DEP,FI_EFVA_SE_ESSA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6928.0,12306.0,10540.0,8793.0
7253,Q,SEAT,ST_PAS_DEP,FI_EFVA_TR_LTAI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.freq.unique()

array(['A', 'M', 'Q'], dtype=object)

annually, monthly, quarterly

In [8]:
data.unit.unique()

array(['FLIGHT', 'PAS', 'SEAT'], dtype=object)

flights, passengers, seats

In [12]:
data.tra_meas.unique()

array(['CAF_PAS', 'CAF_PAS_ARR', 'CAF_PAS_DEP', 'PAS_BRD', 'PAS_BRD_ARR',
       'PAS_BRD_DEP', 'PAS_CRD', 'PAS_CRD_ARR', 'PAS_CRD_DEP', 'ST_PAS',
       'ST_PAS_ARR', 'ST_PAS_DEP'], dtype=object)

arrival and departure. But what is CAF, PAS_BRD, PAS_CRD, ST_PAS?

In [11]:
data.query("freq=='A' and unit=='FLIGHT'").dropna(axis='columns',how='all')

,freq,unit,tra_meas,airp_pr\TIME_PERIOD,1997,1998,1999,2000,2001,2002,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,A,FLIGHT,CAF_PAS,FI_EFHK_AE_OMDB,NaN,NaN,NaN,NaN,269.0,NaN,...,NaN,564.0,575.0,754.0,913.0,NaN,177.0,NaN,NaN,NaN
1,A,FLIGHT,CAF_PAS,FI_EFHK_AT_LOWW,NaN,NaN,NaN,NaN,1979.0,1875.0,...,1494.0,1470.0,1456.0,1456.0,1442.0,573.0,631.0,1378.0,1720.0,1785.0
2,A,FLIGHT,CAF_PAS,FI_EFHK_BE_EBBR,2.0,2437.0,2457.0,3062.0,3016.0,2879.0,...,2322.0,2151.0,2293.0,2254.0,2278.0,885.0,752.0,1787.0,1821.0,1834.0
3,A,FLIGHT,CAF_PAS,FI_EFHK_CH_LSGG,NaN,NaN,NaN,NaN,NaN,NaN,...,1440.0,NaN,NaN,999.0,1149.0,NaN,NaN,NaN,NaN,986.0
4,A,FLIGHT,CAF_PAS,FI_EFHK_CH_LSZH,6.0,1947.0,2104.0,2150.0,2065.0,1405.0,...,2525.0,1821.0,1474.0,1468.0,1475.0,821.0,981.0,1453.0,1434.0,1447.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,A,FLIGHT,CAF_PAS_DEP,FI_EFVA_FI_EFKK,NaN,518.0,511.0,381.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
626,A,FLIGHT,CAF_PAS_DEP,FI_EFVA_FI_EFTU,NaN,NaN,367.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627,A,FLIGHT,CAF_PAS_DEP,FI_EFVA_LV_EVRA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
628,A,FLIGHT,CAF_PAS_DEP,FI_EFVA_SE_ESSA,NaN,1790.0,1779.0,1840.0,1835.0,1350.0,...,934.0,945.0,980.0,989.0,1007.0,NaN,NaN,NaN,198.0,448.0
629,A,FLIGHT,CAF_PAS_DEP,FI_EFVA_TR_LTAI,NaN,NaN,NaN,NaN,NaN,NaN,...,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Events affecting data:  
 - 2020 Covid.
 - 2021 EU sanctions on Belarus.
 - 2022 Ukraine war and sanctions on Russia.

In [ ]:
#https://raw.githubusercontent.com/jpatokal/openflights/master/data/routes.dat

#https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat